<section data-ng-controller="HomeController">
	<div class="expressions">
		<div class="container">
			<div class="row">
				<p class="expressionNote">Billions of peole use Expressions to post text, pictures and videos that express them at every point in time.</p>
				<img src="../modules/core/img/coreimg/expressions7.jpg">
				<img class="expressionsimg" src="../modules/core/img/coreimg/expressions6.jpg">
				<img src="../modules/core/img/coreimg/expressions8.jpg">
			</div>
		</div>
	</div>
	<div id="footer">
	  <div class="containerFooter">
	    <p class="text-muted credit text-center">Expressions &copy 2014.All rights reserved.<a href="http://osatuore.omorodion@andela.co">   Omorodion Osatuore</a>.</p>
	  </div>
	</div>
</section>



	