<section class="signUpPage" data-ng-controller="AuthenticationController">
	<div>
		<div class="container">
			<div class="row">
				<h3 id="signuptoexpresions" class="col-md-12 text-center">Signu up to Expressions</h3>
				<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
					<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
						<fieldset>
							<div class="form-group">
								<label id="signupLabel" for="firstName">First Name</label>
								<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
							</div>
							<div class="form-group">
								<label id="signupLabel" for="lastName">Last Name</label>
								<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
							</div>
							<div class="form-group">
								<label id="signupLabel" for="email">Email</label>
								<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
							</div>
							<div class="form-group">
								<label id="signupLabel" for="username">Username</label>
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
							</div>
							<div class="form-group">
								<label id="signupLabel" for="password">Password</label>
								<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
							</div>
							<div class="text-center form-group">
								<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; <span id="or">or</span>&nbsp;
								<a href="/#!/signin" id="orsignup"class="show-signup">Sign in</a>
							</div>
							<div data-ng-show="error" class="text-center text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
	  <div class="containerrfooter">
	    <p class="text-muted credit text-center">Expressions &copy 2014.All rights reserved.<a href="http://osatuore.omorodion@andela.co">   Omorodion Osatuore</a>.</p>
	  </div>
	</div>
</section>