<section data-ng-controller="ListsController">
    <div class="page-header">
        <h1>New List</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Caption</label>
                    <div class="controls">
                        <input type="text" data-ng-model="caption" id="name" class="form-control" placeholder="caption" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Category</label>
                    <div class="controls">
                        <select type="text" data-ng-model="_type" id="name" class="form-control" placeholder="_type" required>
                            <option value="text">Text</option>
                            <option value="video">Video</option>
                            <option value="picture">Picture</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="name" class="form-control" placeholder="Title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Image</label>
                    <div class="controls">
                        <input type="text" data-ng-model="image" id="name" class="form-control" placeholder="Image Link" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Video</label>
                    <div class="controls">
                        <input type="text" data-ng-model="video" id="name" class="form-control" placeholder="Video Link" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="name" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>